include ../content.pug

header.about
	.about__photo
		picture
			img(
				src="img/alexandr-ds-1x.jpg"
				srcset="img/alexandr-ds-2x.jpg 2x"
				alt="Фото"
				width="376"
				height="470"
			)
	section.about__block
		h1.about__name= content.name[lang]
		b.about__position= content.position[lang]
		div.about__description!= content.description[lang]
		table.info(cellspacing="20px")
			each val in content.about
				tr.info__method
					td.info__name= val.name[lang]
					td.info__info= val.info[lang]
