include ../content.pug

table.page__module-item.business(cellspacing="20px")
	caption.business__title= content.block.education[lang]
	tr.business__item
		<td class="business__key">2019</td>
		<td class="business__description">
			<span class="business__mark">Udemy</span>
			<ul class="business__list">
				<li><a target="_blank" href="https://www.udemy.com/course/design-patterns-javascript/">Design Patterns in JavaScript</a></li>
				<li><a target="_blank" href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2">The Complete Node.js Developer Course</a></li>
			</ul>
		</td>
	tr.business__item
		<td class="business__key">2018</td>
		<td class="business__description">
			<span class="business__mark">AcadeMind + Angular University</span><br>
			<ul class="business__list">
				<li><a target="_blank" href="https://www.udemy.com/angular-course/">Angular Core Deep Dive</a></li>
				<li><a target="_blank" href="https://www.udemy.com/rxjs-reactive-angular-course">RxJs Reactive Programming</a></li>
				<li><a target="_blank" href="https://www.udemy.com/ngrx-course/">NgRx In Depth</a></li>
				<li><a target="_blank" href="https://www.udemy.com/the-complete-guide-to-angular-2">Angular - The Complete Guide</a></li>
			</ul>
		</td>
	tr.business__item
		<td class="business__key"></td>
		<td class="business__description">
			<span class="business__mark">MongoDB University</span>
			<ul class="business__list">
				<li><a target="_blank"  href="https://university.mongodb.com/courses/M121/about">MongoDB Aggregation Framework</a></li>
				<li><a target="_blank"  href="M220JS: MongoDB for Javascript Developers">MongoDB for JS Developers</a></li>
				<li><a target="_blank"  href="https://university.mongodb.com/courses/M001/about">MongoDB Basics</a></li>
			</ul>
		</td>
	tr.business__item
		td.business__key 2016 – 2017
		td.business__description
			span.business__mark= content.courses.gorbunov[lang]
			ul.business__list
				li
					a(
						target="_blank"
						href="https://bureau.ru/school"
					)= content.courses.interface[lang]
	tr.business__item
		td.business__key
		td.business__description
			<span class="business__mark">HTML Academy</span>
			ul.business__list
				li
					a(target="_blank"
						href="https://htmlacademy.ru/intensive/nodejs"
					)= content.courses.node[lang]
				li
					a(target="_blank"
						href="https://htmlacademy.ru/intensive/php"
					)= content.courses.php[lang]
				li
					a(target="_blank"
						href="https://htmlacademy.ru/intensive/ecmascript"
					)= content.courses.js[lang]
				li
					a(target="_blank"
						href="https://htmlacademy.ru/intensive/adaptive"
					)= content.courses.layout[lang]

