<table class="page__module-item business" cellspacing="20px">
	caption.business__title= content.block.experience[lang]
	tr.business__item
		td.business__key= content.experience.be.date[lang]
		td.business__description
			span.business__mark= content.experience.be.company[lang]
			br
			b.business__position= content.position[lang]
			!= content.experience.be.descr[lang]
	tr.business__item
		td.business__key= content.experience.jbook.date[lang]
		td.business__description
			span.business__mark= content.experience.jbook.company[lang]
			b.business__position= content.position[lang]
			!= content.experience.jbook.descr[lang]
	tr.business__item
		td.business__key= content.experience.free.date[lang]
		td.business__description
			span.business__mark= content.experience.free.company[lang]
			b.business__position= content.position[lang]
			!= content.experience.free.descr[lang]
	//<tr class="business__item">
	//	<td class="business__key">11.2015 – 01.2017</td>
	//	<td class="business__description">
	//		<span class="business__mark">CDM Store</span>
	//		<b class="business__position">Администратор сайтов</b>
	//		<p class="business__text">Создавал, поддерживал и продвигал <span class="no-wrap">6 сайтов на Joomla и WordPress</span>. Составлял техзадания для дизайнеров и программистов. <br>Настраивал отчеты из Google Analytics и Яндекс Метрики. <br>Организовывал систему приема онлайн платежей.</p>
	//	</td>
	//</tr>
</table>