block language
  - var lang = 'ru'
include content.pug
doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="description" content=content.title[lang])
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{content.title[lang]}
    include partials/_styles
  body
    include partials/_svg-sprite.pug
    +svg-sprite("phone2", "mail", "magnifier")
    include partials/_business-item
    main.page
      a.page__lang(href=content.version_url[lang])= content.version_lang[lang]
      include partials/_about
      include partials/_contacts
      .page__module
        include partials/_education
        include partials/_experience
      .page__module
        include partials/_hobbies
        include partials/_skills
      .page__footer
        p.page__footer-updated= content.update[lang]
        p
          a(href=content.version_url[lang])= content.version[lang]
